.DS_Store
.env
model/.env
__pycache__/
visionService/__pycache__/
visionService/model/__pycache__/
ttsService/__pycache__/
ttsService/model/__pycache__/
sstService/__pycache__/
sstService/model/__pycache__/
assistantService/__pycache__/
assistantService/model/__pycache__/
